{% extends 'base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{% endblock %}

{% block content %} 

<div class="align-center">
<h1>Panel de control</h1>
<a class="tile-btn" href="{% url 'web.views.lista_personas' %}">
<span class="glyphicon glyphicon-user dibujo"></span>
<span class="texto-span">Listado de personas</span>
</a>

<a class="tile-btn" href="{% url 'web.views.lista_viviendas' %}">
<span class="glyphicon glyphicon-home dibujo"></span>
<span class="texto-span">Listado de viviendas</span>
</a>
</div>



{% endblock %}