{% extends 'base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{% endblock %}

{% block content %} 
<div class="col-md-12">

<h1>Lista de viviendas cargadas por celular</h1>
</div>
<div class="row">
<div class="col-md-2">
    <h3>Filtros de búsqueda</h3>
    <form action="" method="get">
        {% bootstrap_form filter.form %}

        <input type="submit" />
    </form>
    </div>
 <div class="col-md-10">
<table class="table table-striped">
  <thead>
    <tr>
    <th>Barrio</th>
    <th>Calle</th>
    <th>Número</th>
    <th>Piso</th>
    <th>Dpto</th>
    <th>Tipo de vivienda</th>
    <th>Tenencia</th>
    <th>Servicio</th>
    <th>Baño</th>
    <th>Departamento</th>
    <th>Municipio</th>
    <th>Localidad</th>
    <th>Integrantes</th>
    
  </tr>
  
  </thead>
  <tbody>
  {% for vivienda in lista_viviendas %}
  <tr class="sucess">
      <td>{{vivienda.barrio}}</td>
      <td>{{vivienda.calle}}</td>
      <td>{{vivienda.numero}}</td>
      <td>{{vivienda.piso}}</td>
      <td>{{vivienda.dpto}}</td>
      <td>{{vivienda.tipoVivienda}}</td>
      <td>{{vivienda.tenencia}}</td>
      <td>{{vivienda.servicio}}</td>
      <td>{{vivienda.banio}}</td>
      <td>{{vivienda.departamento}}</td>
      <td>{{vivienda.municipio}}</td>
      <td>{{vivienda.localidad}}</td>
      <td><a href="{% url 'web.views.vivienda_integrantes' vivienda.id %}">Ver integrantes</a></td>
 </tr>
 {% endfor %}
 </tbody>
</table>

 <div class="pagination">
    <span class="step-links">
        {% if lista_viviendas.has_previous %}
            <a href="?page={{ lista_viviendas.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ lista_viviendas.number }} de {{ lista_viviendas.paginator.num_pages }}.
        </span>

        {% if lista_viviendas.has_next %}
            <a href="?page={{ lista_viviendas.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>

    </div>
</div>
 {% endblock %}}
 